@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --mc: #efcf11;
  --sc: rgb(55, 54, 54);
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  z-index: 5000;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(50, 50, 50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  background: var(--mc);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e4a110;
}

h1 {
  font-size: 6rem;
  font-family: 'Bangers', Helvetica, sans-serif;
  -webkit-background-clip: text;
  letter-spacing: 15px;
  display: inline-block;
  color: var(--mc);
}

nav {
  background-color: rgb(50, 50, 50);
  color: white;
  list-style-type: none;
  text-decoration: none;
  height: 50px;
  width: 100vw;
  position: fixed;
  margin-top: 10px;
  z-index: 10;
}

.nav-inner-wrapper {
  padding-left: 20%;
  padding-right: 20%;
}

nav li {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

nav li a {
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
  margin-right: 50px;
  transition: 0.5s;
}

nav li a:hover {
  font-size: 0.8rem;
  text-decoration: none;
  color: rgb(180, 180, 180);
  transition: 0.5s;
}

.box {
  min-width: 100vw;
  height: 100vh;
  display: inline-block;
  position: relative;
  padding-top: 60px;
}

#container-horizontal-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  position: absolute;
  width: 100vh;
  height: 100vw;
}

#inner_container-horizontal-scroll {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space: nowrap;
  font-size: 0;
}

.bg-yellow {
  background-color: var(--sc1);
}